@import "reset.css";
body{
	font-family: 'Times New Roman', sans-serif;
}
.wrapper{
	max-width: 1140px ;
	width: calc(100% - 40px) ;
	margin: 0 auto;
}
.top_line{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between ;
	min-height: 150px;
	padding-top: 30px;
}
header{
	background: #2777c1;
}
.header_nav{
	font-size: 16px;
	line-height: 18px ;
	color: #ffffff;
	text-transform: uppercase ;
	font-weight: 400;
}
.header_nav a{
	text-decoration: none;
	color: inherit;
}
.header_nav ul{
	display: flex;
	flex-wrap: wrap;
}
.header_nav ul li{
	padding-left: 15px;
	padding-right: 15px;
	height: 30px;
	line-height: 30px;
	transition: all 300ms ease-in-out;
	margin: 0 5px;
}
.header_nav ul li.active{
	background: #fb3333 ;
	border-radius: 10px ;
}
.header_nav ul li:hover {
	background: #fb3333 ;
	border-radius: 10px ;
	transition: all 300ms ease-in-out;
}
section a{
	color: yellow;
	text-decoration: none;
}
section.whatis {
	background: #612774;
	padding: 50px 0;
	text-align: center;
}
section.whatis .description {
	color: #f7f3ea;
	font-size: 29px;
	line-height: 48px;
	font-weight: 400;
	margin-top: 35px;
	margin-bottom: 30px;
}
section.whatis img {
	height: 400px;
	width: 700px;
}
section b {
	font-weight: 700;
}
